<% include includes/head.html %>
<body>
  <div class="container">
    <h1>Register your card</h1>

    <p>Enter the following information to register your card in the Find My ORCA database. Your information will not be shared with anybody and your email will not be shared with a person even if they find your card.</p>

    <p><strong>If someone finds your card</strong> you will receive an email with their email so the two of you can coordinate how to retreive your card.</p>

    <% if (typeof notes !== 'undefined') { %>
      <% notes.forEach(function(note) { %>
        <div class="note round <%= note.type %>"><%= note.message %></div>
      <% }); %>
    <% } %>

    <form action="/register" method="post">
      <input class="round" name="fname" type="text" placeholder="First Name">
      <input class="round" name="lname" type="text" placeholder="Last Name">
      <input class="round" name="orcaid" type="number" placeholder="Orca ID">
      <input class="round" name="sorcaid" type="number" placeholder="Orca Secondary ID" maxlength="3">
      <input class="round" name="email" type="email" placeholder="Email">
      <input class="round" type="submit" value="submit">
    </form>
  </div>

  <script src="/site.js" type="text/javascript"></script>
</body>
</html>